.mainContainer{
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    word-break: break-word;

    &:hover{
        background: #f3eaff
    }
}

.avatar{
    font-size: 45px !important;
    color: indigo;
    margin: 5px 15px 5px 5px;

    width: 45px;
    height: 45px;
    border-radius: 50%;
}